.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      

    .bg-form {
        background-color: #4900D5;
    }
}
